
<!DOCTYPE html>
<style type="text/css">
.test{
    width: 300px;
    height: 100px;

}

div{
    position: absolute;
    top: 50%;
    left: 50%;

}

</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="0" align="center">
    <div class="test">
    <tr><td align="right">用户登录</td></tr>
    <tr><td>用户名</td><td><input type="text" name="username" placeholder="用户名"></td></tr>
    <tr><td>密码</td><td><input type="password" name= "password" placeholder="密码"></td></tr>
    <tr><td><button type="commit">提交</button></td></tr>
</div>
</table>
</body>
</html>