.form{
    width: 80%;
    margin: 20% auto;
    padding: 5%;

}

.form input {
    display: block;
    width: 100%;
}
button{
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.user-area{
    width: 25%;
    margin: 25% auto;
    text-align: center;

}