.video-show{
    width: 50%;
    height: 12rem;
    float: left;
    margin-bottom: 0.1rem;

}
.video-image{
    width: 100%;
    height: 10rem;

}
.video-name{
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}