<%inherit file="../base.html" />
<%! from django.shortcuts import reverse %>
<%def name="content()">
<%
from app.model.video import VideoType, FromType,NationalityType
%>
<h1>外链视频</h1>
<button class="btn btn-info open-btn" id="open-add-video-btn">创建</button><span>${error}</span>
<form id="video-edit-area" class="form-horizontal edit-area add-video-area"  action="" method="POST">${csrf_token}
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" name="name" class="form-control" placeholder="视频名称">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <input type="text" name="image" class="form-control" placeholder="海报">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <label>视频类型</label>
            <select class="form-control video-select" name="video_type">
                %for video_type in VideoType:
                <option value="${video_type.value}">${video_type.label}</option>
                %endfor
            </select>
        </div>
    </div>
    <div class="form-group">
    <div class="col-sm-10">
            <label class="lpttext">国 籍</label>
            <select class="form-control video-select" name="nationality">
                %for nationality in NationalityType:
                <option value="${nationality.value}">${nationality.label}</option>
                %endfor
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <label>视频来源</label>
            <select class="form-control video-select" name="from_to">
                %for from_to in FromType:
                        <option value="${from_to.value}">${from_to.label}</option>
                %endfor
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <textarea name="info" class="form-contral lpttext1" placeholder="简介"></textarea>
        </div>
    </div>

      <button type="submit" class="btn btn-info">添加</button>
</form>
<h3>外链视频</h3>
<table class="table">
    <thead>
    <tr>
        <th>名称</th>
        <th>海报</th>
        <th>视频类型</th>
        <th>视频来源</th>
        <th>国籍</th>
        <th>描述</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>修改时间</th>
    </tr>
    </thead>
    <tbody>

        % for video in ex_videos:
        <tr>
            <td>${video.name}</td>
            <td><img class="video-images" src="${video.image}"></td>
            <td>${VideoType(video.video_type).label}</td>
            <td>${FromType(video.from_to).label}</td>
            <td>${NationalityType(video.nationality).label}</td>
            <td><p class="info">${video.info}</p></td>
            <td>${video.status}</td>
            <td>${video.created_time}</td>
            <td>${video.updated_time}</td>
            <td><a href="${reverse('video_update', kwargs={'video_id': video.id})}">编辑</a>|
                <a href="${reverse('video_sub', kwargs={'video_id': video.id})}">附属信息</a>|
                <a href="${reverse('video_update_status', kwargs={'video_id': video.id})}">修改状态</a>
            </td>


        </tr>
        % endfor

    </tbody>
</table>
<h3 id="custom-h3">自定义视频</h3>
<table class="table">
    <thead>
    <tr>
        <th>名称</th>
        <th>海报</th>
        <th>视频类型</th>
        <th>视频来源</th>
        <th>国籍</th>
        <th>描述</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>修改时间</th>
    </tr>
    </thead>
    <tbody>

        % for video in cus_videos:
        <tr>
            <td>${video.name}</td>
            <td><img class="video-images" src="${video.image}"></td>
            <td>${VideoType(video.video_type).label}</td>
            <td>${FromType(video.from_to).label}</td>
            <td>${NationalityType(video.nationality).label}</td>
            <td><p class="info">${video.info}</p></td>
            <td>${video.status}</td>
            <td>${video.created_time}</td>
            <td>${video.updated_time}</td>
            <td><a href="${reverse('video_update', kwargs={'video_id': video.id})}">编辑</a>|
                <a href="${reverse('video_sub', kwargs={'video_id': video.id})}">附属信息</a>|
                <a href="${reverse('video_update_status', kwargs={'video_id': video.id})}">修改状态</a>
            </td>


        </tr>
        % endfor

    </tbody>
</table>
</%def>
<%def name="css()">
<link href="/static/dashboard/css/externa_video.css" rel="stylesheet"/>
</%def>
<%def name="js()">
<script src="/static/dashboard/js/video/externa_video.js"></script>
</%def>