input , select{
    width: 50% !important;
    display: inline-block !important;
}
.add-url{
    width: 50%;
    padding: 10px;
    border: 1px solid #cccccc;
}
#add-url-btn, #add-star-btn {
    width: 70px !important;
}